<!DOCTYPE html>
<html>
  <head>
    <title>Curveball</title>
<!--     <link rel="stylesheet" type="text/css" href="./css/boostrap.css"> -->
    <link rel="stylesheet" type="text/css" href="./css/landing.css">
  </head>

<body>
	
	
	
	
	
	
	
<form action="/signin" method="post">
	Username: <input type="text" name="username"><br>
	Password: <input type="password" name="password"><br>
	<button type="submit">Login</button>
</form>

<!-- 	Activate Scripts -->
<!-- 	Check src is done correctly. -->
	<script>
		function toggleScroll() {
  $('.start-login, .start-signup').toggleClass('active');
  //$('html, body, .section-start').animate({
  //  scrollTop: 0
  //}, 200);
}

$('.btn-signup, .btn-back-login').click(function() {
  toggleScroll();
});

$('.btn-signup, .btn-back-login').on('touchstart', function(event) {
  event.stopPropagation();
  toggleScroll();
});
	</script>
	
</body>